body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
    }

    #map {
	height: 95%;
    }

    #bottom-bar {
	height: 5%;
	background-color: #34495e; /* Dark blue background color */
	color: #ecf0f1; /* Light text color */
	text-align: center;
	line-height: 2.5; /* Adjust the line height as needed */
	border-top: 2px solid #2c3e50; /* Border color for the top of the bar */
	display: flex;
	align-items: center;
	justify-content: center;
    }
    #bottom-bar img {
	height: 20px; /* Adjust the image height as needed */
	margin-right: 8px; /* Add some spacing between image and text */
    }
	.location-info {
	background-color: #34495e;
	color: #ecf0f1;
	padding: 15px;
	border-radius: 5px;
	max-width: 400px;
	margin: 20px auto;
	font-family: 'Arial', sans-serif; /* Set your preferred font */
      }
      
      .title {
	font-size: 1.5em; /* Increased font size for titles */
	margin-bottom: 10px;
	font-weight: bold; /* Bold font for titles */
      }
      
      .highlight {
	color: #3498db;
	font-weight: bold; /* Bold font for highlighted content */
      }
      
      .opening-hours {
	margin-top: 10px;
	font-style: italic; /* Italic font for opening hours */
      }
      
      .days-list {
	list-style-type: none;
	padding: 0;
      }
      
      .days-list li {
	margin-bottom: 5px;
	font-size: 0.9em; /* Slightly reduced font size for list items */
      }
      
      .kebab-image {
	width: 100%;
	max-height: 200px;
	margin-top: 10px;
      }
      
      .reviews {
	margin-top: 10px;
	font-size: 1.1em; /* Slightly increased font size for reviews */
      }
      